<div class="container">
    <div class="row">
        <div class="col s12" id="highScore"><span class="flow-text">Highscore</span></div>
        <p> {{}}</p>
    </div>
    <div class="row">
        <div class="col s12" id="yourScore"><span class="flow-text">Your Score</span></div>
        <p> {{}}</p>
    </div>

    <!-- start game button !-->
   <button type="submit" class="start btn-large col s4 offset-s4" id="start">Play Again!</button>
</div>