<!DOCTYPE html>
<html lang="en">

<head>
        <title>The Fight Club</title>
		    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <!-- <link rel="stylesheet" href="../assets/css/style.css" type="text/css" /> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
canvas {
    border:1px solid #201f1f;
    /* background: rgb(241, 216, 207); */
    background-image: url("../assets/images/gamebackground.jpg");
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* width:100%; */
    width:100%;
    height:auto;
    background-size: cover;
}

html,body{
    margin: 0;
    background: rgb(241, 216, 207);
    background-color: #f1f1f1;
    display:flex;
    align-items:center;
    justify-content: center;
    height:100%;
}
</style>
    </head>
    <body>
        <!--  style="display:none;" -->
        
        <canvas id="game" width = "1790" height="990">  </canvas>
        <div style="display:none; margin-bottom: 25px;">
            <img id="source" src="../assets/images/char1.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="moving-0" src="../assets/images/char2.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="moving-1" src="../assets/images/char3.png">
          </div>
          
          <div style="display:none; margin-bottom: 25px;">
            <img id="moving-2" src="../assets/images/char4.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="walkGif" src="../assets/images/walk.gif">
          </div>

          <audio style="display:none;" id="sound">   
            <source src="../assets/images/punch.mp3" />   
            </audio> 

          <iframe style="display:none;" id="walkGifIFrame" src="https://drive.google.com/file/d/12_tNw_eaVKuapyBSgBeF_d6_z6bTAohB/preview"></iframe>

          <div style="display:none; margin-bottom: 25px;">
            <img id="attack" src="../assets/images/charGuitar.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="attackumb" src="../assets/images/charUmb.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="defend" src="../assets/images/charProtect.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="dieR-0" src="../assets/images/dieR1.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="dieR-1" src="../assets/images/dieR2.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="dieR-2" src="../assets/images/dieR3.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="dieG-0" src="../assets/images/dieG1.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="dieG-1" src="../assets/images/dieG2.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="dieG-2" src="../assets/images/dieG3.png">
          </div>

        <div style="display:none; margin-bottom: 25px;">
            <img id="source1" src="../assets/images/walkG.png">
        </div>

        <div style="display:none; margin-bottom: 25px;">
            <img id="moving1-0" src="../assets/images/walkG1.png">
        </div>


        <div style="display:none; margin-bottom: 25px;">
          <img id="moving1-1" src="../assets/images/walkG2.png">
      </div>


      <div style="display:none; margin-bottom: 25px;">
        <img id="moving1-2" src="../assets/images/walkG3.png">
    </div>

        <div style="display:none; margin-bottom: 25px;">
            <img id="walkGif1" src="../assets/images/walkG.gif">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="attack1" src="../assets/images/charGuitarG.png">
          </div>
      
          <div style="display:none; margin-bottom: 25px;">
            <img id="defend1" src="../assets/images/charProtectG.png">
          </div>

          <div style="display:none; margin-bottom: 25px;">
            <img id="attackumb1" src="../assets/images/charUmbG.png">
          </div>
</body>
<script src = "http://localhost:8080/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> 

 <!-- <script src = "https://cdn.socket.it/socket.io.1.4.5.js"></script> -->
 <script type="module" src="../assets/js/main.js"></script>
 <script type="module" src="../assets/js/player.js"></script>
 <!-- <script src ="../assets/js/sample.js"></script> -->
<!-- <script src="../assets/js/handleEvents.js"></script> -->


</html>

