<!DOCTYPE html>
<html lang="en">

<head>
        <title>The Fight Club</title>
		    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <!-- <link rel="stylesheet" href="../assets/css/style.css" type="text/css" /> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
canvas {
    border:1px solid #201f1f;
    background: rgb(241, 216, 207);
}

html,body{
   margin: 0;
   background: rgb(241, 216, 207);
   background-color: #f1f1f1;
    display:flex;
    align-items:center;
    justify-content: center;
    height:100%;
}
</style>
    </head>
    <body>
        <!--  style="display:none;" -->
        
        <canvas id="game" width = "800" height="600">  </canvas>
        <div style="display:none;">
            <img id="source"
                 src="../assets/images/char3.png"
                 width="150" height="150">
          </div>
      
</body>
<script src = "http://localhost:8080/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> 

 <!-- <script src = "https://cdn.socket.it/socket.io.1.4.5.js"></script> -->
 <script type="module" src="../assets/js/main.js"></script>
 <!-- <script src ="../assets/js/sample.js"></script> -->
<!-- <script src="../assets/js/handleEvents.js"></script> -->


</html>