<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <link rel="icon" href="/assets/images/punch.png" type="image">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>


<body>
    <!-- Movements!-->
   
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="/assets/images/logo3.png" style="width: 650px; height: 430px;"  alt="logo">
            <h2 style="margin-top: 0px;">Movement : </h2>
            <p style="font-size: 18px; margin-left: 30px;">
                <img src="/assets/images/left.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="left"> :
                Move Left <br>
                <img src="/assets/images/right.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="right">
                : Move Right <br>
                <img src="/assets/images/up.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="up">
                : Guitar Attack <br>
                <img src="/assets/images/down.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="down"> :
                Defend Against Attacks <br>
                <img src="/assets/images/shift.png" style="width: 70px; height: 30px; margin-right: 10px;" alt="shift">
                : Umbrella Attack <br>
            </p>
        </div>
        <!-- Rules!-->
        <div class="col s12 m6" style="margin-top: 220px;">
            <p style="font-size: 23px; text-align: center; margin-bottom: 30px;">Hello fighters, Welcome to The
                FightClub,<br>
                Here are the rules :</p>
            <ul>
                <li>1. The players start with 100 score points.</li>
                <li>2. Attack by hitting the other player with guitar or umbrella.</li>
                <li>3. When one of the player's score reach 0 then the game is over.</li>
                <li>4. Enjoy the game!.</li>
            </ul> <br>
            <p style="font-size: 20px; text-align: center; margin-bottom: 16px;">Before you begin the game.<br>Please
                put your name below and then click "Let's Fight".</p>

            </p>
            <!-- id="enter_text" -->
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <!-- start game button !-->
                        <textarea id="textarea1" class="materialize-textarea" style="background-color: white;"
                            name="name" value=""></textarea>
                        <button type="submit" class="submit btn-large col s4 offset-s4" id="submitBtn">Let's
                            Fight!</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Audio !-->
        <audio autoplay id="audio1">
            <source src="/assets/images/fightclub.mp3" type="audio/mpeg" onloadeddata="setHalfVolume()">
        </audio>

        <!-- Audio volume !-->
        <script>
            function setHalfVolume() {
                var myAudio = document.getElementById("audio1");
                myAudio.volume = 0.4;
            }
        </script>

        <script src="../assets/js/handleEvents.js"></script>

</body>

</html>
