<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
</head>

<body>
    <!-- Movements!-->
    <div class="row">
        <div class="col s6" style="margin-top: 350px;">
            <h2>Movement : </h2>
            <p style="font-size: 18px; margin: 30px;">
                <img src="/assets/images/left.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="left"> :
                Move Left <br>
                <img src="/assets/images/right.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="right">
                : Move Right <br>
                <img src="/assets/images/up.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="up">
                : Guitar Attack <br>
                <img src="/assets/images/down.png" style="width: 40px; height: 30px; margin-right: 10px;" alt="down"> :
                Defend Against Attacks <br>
                <img src="/assets/images/shift.png" style="width: 70px; height: 30px; margin-right: 10px;" alt="shift">
                : Umbrella Attack <br>
            </p>
        </div>
        <!-- Rules!-->
        <div class="col s6" style="margin-top: 220px;">
            <p style="font-size: 23px; text-align: center; margin-bottom: 30px;">Hello fighters, Welcome to The FightClub,<br>
                Here are the rules :</p>
            <ul>
                <li>1. gsjslfcijkmlsiufjdlmvckjvin.asujcesk</li>
                <li>2. gvrbhthrnfbvsscrv</li>
                <li>3. scvtecjlajox,kol,</li>
            </ul>
            <p style="font-size: 20px; text-align: center; margin-bottom: 16px;">Before you begin the game.<br>Please
                put your name below and then click "Let's Fight".</p>
  
            </p>
            <!-- id="enter_text" -->
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <!-- start game button !-->
                        <textarea id="textarea1" class="materialize-textarea" style="background-color: white;"
                            name="name" value="" ></textarea>
                        <button type="submit" class="submit btn-large col s4 offset-s4" id="submitBtn">Let's Fight!</button>
                        <!-- <img src="/public/assets/images/players.png" style="width: 80px; height: 130px; margin-left: 30px;" alt="players"> -->
                    </div>
                </div>
        </div>
    </div>




    <!-- Audio !-->
    <audio controls id="audio1">
        <source src="/assets/images/fightclub.mp3" type="audio/mpeg" onloadeddata="setHalfVolume()">
    </audio>

    <!-- Canvas !-->
    <canvas id="scene"></canvas> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

    <script>

         var canvas = document.getElementById('scene');
         var ctx = canvas.getContext("2d");
          ctx.moveTo(0, 0);
         var particles = [];

         var png = new Image();
         png.src = "/assets/images/logoSmall_S.png";
         png.onload = drawImg;

         function drawImg() {
             canvas.width = png.width * 6;
             canvas.height = png.height * 6;

             ctx.drawImage(png, 0, 0);

             var data = ctx.getImageData(0, 0, png.width, png.height);
             ctx.clearRect(0, 0, canvas.width, canvas.height);

             for (var y = 0; y < data.height; y++) {
                 for (var x = 0; x < data.width; x++) {
                     var p = (x + y * data.width) * 4;

                     if (data.data[p + 3] > 129) {
                         var particle = {
                             x0: x,
                             y0: y,
                             x1: png.width / 3,
                             y1: png.height / 3,
                             speed: Math.random() * 1 + 1,
                             color: `rgb(${data.data[p]},
		 								${data.data[p + 1]},
		 								${data.data[p + 2]})`
                         }
                         TweenMax.to(particle, particle.speed, {
                             x1: particle.x0,
                             y1: particle.y0,
                             delay: y / 40,
                             ease: Elastic.easeOut
                         })
                         particles.push(particle)
                     }
                 }
           }
             requestAnimationFrame(render);
         }

         var render = function () {
             ctx.clearRect(0, 0, canvas.width, canvas.height);
             for (var i = 0; i < particles.length; i++) {
                 var particle = particles[i];
                 ctx.fillStyle = particle.color;
                 ctx.fillRect(particle.x1 * 3, particle.y1 * 3, 3, 3);
             }
             requestAnimationFrame(render);
         };

        function setHalfVolume() {
            var myAudio = document.getElementById("audio1");
            myAudio.volume = 0.5;
        }

    </script>

    <!--Audio Valume
      <script>
        function setHalfVolume() {
            var myAudio = document.getElementById("audio1");
            myAudio.volume = 0.5;
        }
      </script>--> 
     
<script src="../assets/js/handleEvents.js"></script>

</body>

</html>