* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
canvas {
	/* position: fixed; */
	position: block;
	margin: 0 auto;
	height: 60%;
	width: 60%;
	top: 55%;
	left: 55%;
	transform: translate(4%, -150%);
}

h1 {
	font-size: 40px;
	text-align: right;
	/* margin-top: 200px; */
}

h2 {
  font-size: 30px;
  text-align: center;
}

#form {
	position: absolute;
}

#submitBtn, #again {
  background-color: rgb(16, 129, 221);
  border-radius: 20px 0px 20px 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#submitBtn:hover, #again:hover {
  background-color: rgb(65, 225, 247);
}

th {
  font-size: 20px;
}
