* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/public/assets/images/backgroundLogo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
